
<meredian-select (pointAdded)="selectPoint($event)" (pointRemoved)="removePoint($event)"></meredian-select>

<manual-ploting (setPointerStyle)="setPointer($event)" (clearPointerStyle)="clearPointer()"></manual-ploting>
 
<div class="row mt-4">
    <div class="col-sm-4">
        <h5>Generated Protocol</h5>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <ng-container *ngFor="let protocol of selectedPoints" >
            <span *ngIf="protocol.name" class="badge badge-pill badge-light m-1 px-3 py-2">
                <i [ngClass]="protocol.shape === Shape.Square ? 'far fa-square':'fa fa-circle'" [style.font-size.px]="protocol.size * 2" [style.color]="protocol.color"></i>
                {{protocol.name }}  
                <button style="border-radius: 50%;color: darkgray; border-color: #8d818126;" (click)="removePoint(protocol)" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
            </span>
        </ng-container>
        
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-6"  *ngIf="selectedPoints?.length > 0" >
        <hr>
        <button *ngIf="allowSetSequence === true;" class="m-2 btn btn-sm btn-success" (click)="allowSetSequence = false;"><i class="fa fa-save"></i> Save Sequence</button>
        <button *ngIf="allowSetSequence === false;" class="m-2 btn btn-sm btn-success" (click)="allowSetSequenceSet();"><i class="fas fa-edit"></i> Draw Sequence</button>
        <button *ngIf="allowSetSequence === false;" class="m-2 btn btn-sm btn-primary" (click)="putImage()"><i class="fa fa-save"></i> Save Image</button>
        <button *ngIf="allowSetSequence === false;" class="m-2 btn btn-sm btn-danger " (click)="clearPoints()"><i class="fa fa-times"></i> Clear Points</button>
    </div>
</div>

<canvas id="canvas" width="1240" height="856" (click)="plotPointManually($event)"
    [ngClass]="selectedPointer === 'S'? 's-cursor': selectedPointer === 'T'?'t-cursor' : selectedPointer === 'M'? 'm-cursor': ''"
    style="background:url(/assets/images/test_2.jpg) no-repeat"></canvas>