<div class="row mt-4">
    <div class="col-sm-4">
        <h5>Plot Points through selections</h5>
        <hr>
    </div>
</div>
<meredian-select (pointAdded)="selectPoint($event)" (pointRemoved)="removePoint($event)"></meredian-select>


<div class="row mt-4">
    <div class="col-sm-4">
        <h5>Plot Points Manually</h5>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn  btn-outline-secondary" (click)="setPointer('S', Sizes.VERYSMALL)"
                [ngClass]="selectedPointer=== 'S' && pointerSize === 'SMALL'? 'active':''">
                <input type="radio" name="options" id="option1" autocomplete="off"> <img [src]="'/assets/images/S.jpg'"
                    width="9px" height="9px">
            </label>
            <label class="btn  btn-outline-secondary" (click)="setPointer('S', Sizes.SMALL)"
                [ngClass]="selectedPointer=== 'S' && pointerSize === 'MEDIUM'? 'active':''">
                <input type="radio" name="options" id="option2" autocomplete="off"> <img [src]="'/assets/images/S.jpg'"
                    width="12px" height="12px">
            </label>
            <label class="btn  btn-outline-secondary" (click)="setPointer('S', Sizes.MEDIUM)"
                [ngClass]="selectedPointer=== 'S' && pointerSize === 'LARGE'? 'active':''">
                <input type="radio" name="options" id="option3" autocomplete="off"> <img [src]="'/assets/images/S.jpg'"
                    width="16px" height="16px">
            </label>

            <label class="btn  btn-outline-secondary" (click)="setPointer('T', Sizes.VERYSMALL)"
                [ngClass]="selectedPointer=== 'T' && pointerSize === 'SMALL'? 'active':''">
                <input type="radio" name="options" id="option1" autocomplete="off"> <img [src]="'/assets/images/T.jpg'"
                    width="9px" height="9px">
            </label>
            <label class="btn  btn-outline-secondary" (click)="setPointer('T', Sizes.SMALL)"
                [ngClass]="selectedPointer=== 'T' && pointerSize === 'MEDIUM'? 'active':''">
                <input type="radio" name="options" id="option2" autocomplete="off"> <img [src]="'/assets/images/T.jpg'"
                    width="12px" height="12px">
            </label>
            <label class="btn  btn-outline-secondary" (click)="setPointer('T', Sizes.MEDIUM)"
                [ngClass]="selectedPointer=== 'T' && pointerSize === 'LARGE'? 'active':''">
                <input type="radio" name="options" id="option3" autocomplete="off"> <img [src]="'/assets/images/T.jpg'"
                    width="16px" height="16px">
            </label>
            <label class="btn  btn-outline-secondary" (click)="setPointer('M', Sizes.SMALL)"
                [ngClass]="selectedPointer=== 'M' && pointerSize === 'LARGE'? 'active':''">
                <input type="radio" name="options" id="option3" autocomplete="off"> <img [src]="'/assets/images/M.jpg'"
                    width="12px" height="12px">
            </label>
        </div>
    </div>

    <div class="col-sm-1">
        <button *ngIf="selectedPointer" class=" btn btn-danger" (click)="clearPointer()">X</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-4">
        <h5>Generated Protocol</h5>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <span *ngFor="let protocol of selectedPoints" class="badge badge-pill badge-light m-2 p-3">
            <i class="fa fa-circle" [style.font-size.px]="protocol.size * 2" [style.color]="protocol.color"></i>
            {{protocol.name | uppercase}}</span>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-4">
        <hr>
        <button class="m-2 btn btn-primary" (click)="putImage()">Save Image</button>
        <button class="m-2 btn btn-danger " (click)="clearPoints()">Clear Points</button>

    </div>
</div>

<canvas id="canvas" width="1240" height="856" (click)="plotPointManually($event)"
    [ngClass]="selectedPointer === 'S'? 's-cursor': selectedPointer === 'T'?'t-cursor' : selectedPointer === 'M'? 'm-cursor': ''"
    style="background:url(/assets/images/test_2.jpg) no-repeat"></canvas>