/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

// .btn,
// a,
// button,
// input,
// optgroup,
// select,
// textarea {
//     font-family:  'Open Sans', sans-serif;
// }

body{ min-height:100vh; margin:0; position:relative; } 

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
 
.error-message{
  color: red;
  font-size: 14px;
}